/* reset css */
* ,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--font);
    color: var(--white);
    line-height: var(--lineheight-wide);
}
a {
    text-decoration: none;
    color: inherit;
    transition:all 0.4s ease;
}

ul {
    list-style: none;
}

/* --- HEADER --- */
/* HEADER - MOBILE FIRST */
.site-header {
    width: 100%;
    background-color: var(--orange);
    position: relative;
    z-index: 999;
}
.site-header__inner {
    display: flex;
    position: relative;
    align-items: center;
    padding-inline: var(--space-200);
    justify-content: center;
    padding-block: var(--space-300);
}

.site-header__hamburger,
.site-header__close {
    border: none;
    background: transparent;
    cursor: pointer;
}
.site-header__hamburger {
    position: absolute;
    left: var(--space-200);
    top: 50%;
    transform: translateY(-50%);
}
.site-header__logo {
    display: flex;
    align-items: center;
}
/* Navigation - mobile default hidden */
/* =========================
    MOBILE MENU OPEN STATE
========================= */
.site-header__nav {
    position: absolute;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
    padding-inline: var(--space-200);
}
.site-header.is-open .site-header__nav {
    display: flex;
}
.site-header.is-open .site-header__hamburger,
.site-header.is-open .site-header__logo {
    /* display: none; */
    visibility: hidden;
}
/* menu links */
.site-header__links {
    display: flex;
    align-items: center;
    gap: var(--space-300);
}
.site-header__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-100);
    padding-block-start: var(--space-100);
}
.site-header__item::after {
    content: "";
    display: block;
    width: 0px;
    height: 2px;
    background-color: aqua;
    transition: all 0.2s ease-in-out;
}
.site-header__item:hover::after,
.site-header__item:focus-within::after {
    width: var(--space-400);
    background-color: var(--black);

}
.site-header__link {
    color: var(--black);
    font-size: 1rem;
    font-weight: 600;
}
/* TABLET RESPONSIVE  */
@media (min-width: 768px) {
    .site-header {
        background-color: var(--orange);
    }

    .site-header__inner {
        justify-content: flex-start;
        gap: var(--space-700);

        padding-block: var(--space-300);
        padding-inline: var(--space-800);
    }

    .site-header__hamburger,
    .site-header__close {
        display: none;
    }

    .site-header__logo {
        display: inline-flex;
        visibility: visible;
    }

    .site-header.is-open .site-header__logo {
        visibility: visible;
    }

    .site-header__nav {
        position: static;
        inset: auto;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        background-color: transparent;
        padding-inline: 0;
    }

    .site-header__links {
        gap: var(--space-300);
    }

    .site-header__link {
        color: var(--white);
    }

    .site-header__item:hover::after,
    .site-header__item:focus-within::after {
        background-color: var(--white);
    }
}
/* DESKTOP RESPONSIVE */
@media (min-width: 1024px) {
    .site-header__inner {
        padding-inline: var(--space-600);
        gap: var(--space-700);
    }

    .site-header__links {
        gap: var(--space-400);
    }
}
@media (min-width: 1440px) {
    .site-header__inner {
        padding-inline: var(--space-1000);
    }
}