/* =========================
    RESET CSS
========================= */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    color: var(--black);
    line-height: var(--lineheight-wide);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}
/* HEADER */
header.site-header {
    background-color:transparent;
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
}
.site-header__inner {
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    padding-block: var(--space-300);
}
.site-header__hamburger {
    position: absolute;
    left: var(--space-200);
    top: 50%;
    transform: translateY(-50%);
}
.site-header__nav{
    display:none;
}
button.site-header__hamburger,
button.site-header__close {
    border:none;
    background:transparent;
    cursor:pointer;
}
.site-header__hamburger img,
.site-header__close img,
.site-header__logo img {
    display: block;
}
.site-header__nav {
    position: absolute;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding-inline: var(--space-200);
    background-color: var(--white);
}

.site-header.is-open .site-header__nav {
    display: flex;
    align-items: center;
    position: absolute;
    inset: 0;
}
.site-header.is-open .site-header__hamburger {
    visibility: hidden;
}

.site-header.is-open .site-header__logo {
    visibility: hidden;
}

.site-header__links {
    display: flex;
    align-items: center;
    gap: var(--space-300);
    list-style: none;
    margin: 0;
    padding: 0;
}
.site-header__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-100);
    padding-block-start: var(--space-100);
}
.site-header__item::after {
    content: "";
    width: 0px;
    height: 2px;
    background-color: black;
    transition: all 0.2s ease-in-out;
}
.site-header__item:hover:after,
.site-header__item:focus-within::after {
    width: var(--space-300);
    background-color: var(--black);
}
.site-header__link {
    color: var(--black);
    font-size: var(--text-sm);
    text-decoration: none;
    text-transform: lowercase;
}
.about {

}
.about-wrapper {
    display: flex;
    flex-direction: column;
}
.about__media {
    position: relative;
}
.about__image {
    display: block;
    width: 100%;
    height: auto;
}
.slider {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
}
.slider__previous,
.slider__next {
    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    background-color: var(--black);
    cursor: pointer;
}
.about-content-wrapper {
    padding-block: var(--space-800);
    padding-inline: var(--space-800);
}
.about-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-200);
}
.about-content__title {
    color: var(--black);
    font-size: var(--text-lg);
    font-weight: 600;
    line-height: 1;
    letter-spacing: -0.125rem;
}
.about-content__text {
    color: var(--grey-500);
    font-size: var(--text-sm);
    line-height: var(--lineheight-wide);
    font-weight: 500;
}
.about-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__link {
    color: var(--black);
    font-size: var(--text-sm);
    font-weight: 600;
    letter-spacing: 0.75rem;
    text-transform: uppercase;
    text-decoration: none;
}
@media (min-width:1024px) {
    .hidden-desktop {
        display: none;
    }
    .site-header {
        position: absolute;
        top: 0;
        left: 0;
    }
    .site-header__inner {
        justify-content: flex-start;
        gap: var(--space-700);
        padding-block: var(--space-300);
        padding-inline: var(--space-200);
    }
    .site-header__logo {
        visibility: visible;
    }
    .site-header__nav {
        position: static;
        inset: auto;
        display: block;
        padding: 0;
        background-color: transparent;
    }

    .site-header__links {
        display: flex;
        align-items: center;
        gap: var(--space-400);
    }
    .site-header__item::after {
        background-color: var(--white);
    }
    .site-header__item:hover::after,
    .site-header__item:focus-within::after {
        background-color: var(--white);
    }
    .site-header__link {
        color: var(--white);
    }
    .about-wrapper {
        flex-direction: row;
    }

    .about__media {
        flex: 0 0 60%;
    }

    .about__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slider {
        right: 0;
        bottom: 0;
        transform: translateX(100%);
    }

    .about-content-wrapper {
        flex: 1;
        padding-block: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    .about-content {
        max-width: 400px;
    }
}