:root {
    --white: #ffffff;
    --black: #000000;
    --orange: #e59a34;
    --space-100: 0.5rem;
    --space-200: 1rem;
    --space-300: 1.5rem;
    --space-400: 2rem;
    --space-600: 3rem;
    --space-700: 3.5rem;
    --space-800: 4rem;
    --space-1000: 5rem;
    --space-1375: 6.875rem;
    --font: 'League Spartan', sans-serif;
}
